node_modules
dist
out
.DS_Store
*.log*
.env
thunder-tests
coverage/
*.m3u
.npmrc
.github/plans/
yt-dlp.exe
.agents/
.tanstack/
skills-lock.json
resources/other/screenshots/ablum_detail_screen.png
resources/other/screenshots/artists_screen.png
resources/other/screenshots/album_screen.png
resources/other/screenshots/home_with_theme_light.png
resources/other/screenshots/online_search.png
resources/other/screenshots/mini_player_1.png
resources/other/screenshots/playlist_screen.png
resources/other/screenshots/song_with_lyrics.png
resources/other/screenshots/mini_player_2.png
resources/other/screenshots/song_lyrics_with_blur.png
resources/other/screenshots/setup_account.png
resources/other/screenshots/favorites_song_screen.png
resources/other/screenshots/index.html
resources/other/screenshots/home.png
resources/other/screenshots/songs_screen.png
resources/other/screenshots/song_full_screen.png
